<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head.html :: head"></head>
<head><title>CityApp - Agregación de datos</title></head>

<body class="navbar-offset">
    <nav th:replace="fragments/navbar.html :: navbar"></nav>


    <main role="main" class="pt-3 pb-3 vertical-stretch">
        <div th:replace="fragments/list.html :: listTitle('Consultas de agregación')"></div>

        <!-- First query -->
        <div class="container text-secondary font-weight-bold h5 pb-2">
            Listar la cantidad de cajeros automáticos que hay por barrio, ordenado de forma descendente por la cantidad
        </div>

        <div th:if="${aggregationQueryResult1.empty}">
            <div th:replace="fragments/list.html :: listEmpty('No hay información')"></div>
        </div>

        <div class="container table-striped table-hover small-list-table" th:unless="${aggregationQueryResult1.empty}">
            <div class="row bg-dark text-light font-weight-bold h2 list-header">
                <div class="col-6 align-self-center" title="Nombre del banco">Banco</div>
                <div class="col-6 align-self-center" title="Cantidad de cajeros automáticos">Cantidad</div>
            </div>

            <div class="row list-row" th:each="resultEntry : ${aggregationQueryResult1}">
                <div class="col-6 align-self-center" th:text="${resultEntry.key}"></div>
                <div class="col-6 align-self-center" th:text="${resultEntry.value}"></div>
            </div>
        </div>

        <!-- Second query -->
        <div class="container text-secondary font-weight-bold h5 pb-2 pt-5">
            Nombres de los bancos que tienen cajeros automáticos en todos los barrios de la comuna 1
        </div>

        <div th:if="${aggregationQueryResult2.empty}">
            <div th:replace="fragments/list.html :: listEmpty('No hay información')"></div>
        </div>

        <div class="container table-striped table-hover small-list-table" th:unless="${aggregationQueryResult2.empty}">
            <div class="row bg-dark text-light font-weight-bold h2 list-header">
                <div class="col-12 align-self-center">Banco</div>
            </div>

            <div class="row list-row" th:each="bankName : ${aggregationQueryResult2}">
                <div class="col-12 align-self-center" th:text="${bankName}"></div>
            </div>
        </div>
    </main>


    <footer th:replace="fragments/footer.html :: footer"></footer>
    <nav th:replace="fragments/navbar.html :: navbar-js"></nav>
</body>
</html>