<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="navbar">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CityApp - A simple app to learn different database interfaces">
    <meta name="author" content="Yicheng Zhang">

    <!-- CSS -->
    <link href="/css/bootstrap-cosmo.css" rel="stylesheet">
    <link href="/css/cityapp.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="icon" href="/img/favicons/favicon.ico">
    <link rel="icon" href="/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
</head>